---
import Button from "./Button.astro";
const { variant, img, alt, title, body, link } = Astro.props;
import "../styles/styles.css";
---

<section class={variant}>
  <a href={link}>
    <img src={img} alt={alt} />
    <h3>{title}</h3>
  </a>
</section>

<style>
  img {
    min-width: 100%;
    padding-bottom: 10px;
  }

  h3 {
    font-family: "Inter", sans-serif;
    margin-bottom: 60px;
  }

  a {
    cursor: pointer;
    color: black;
  }
</style>
