---
import Button from "./Button.astro";
const { variant, img, alt, title, body, link } = Astro.props;
import "../styles/styles.css";
---

<section class={variant}>
  <li class="tag">
    <img src={img} alt={alt} />
    <h3>{title}</h3>
    <p>{body}</p>

    <Button link={link} />
  </li>
</section>

<style>
  variant {
  }

  img {
    min-width: 100%;
  }

  p {
    display: inline;
  }
</style>
