---
const { img, title, link, beskrivelse, cafe} = Astro.props;
import "../styles/styles.css";
---

<div>

<img src={img} alt={title} />
<a target="_blank" href={link}>{cafe}</a>
<p>{beskrivelse}</p>

</div>

<style>

div {
    flex-shrink: 0;
     max-width: 300px;
}


</style>